<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.1/font/bootstrap-icons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./Footer.css" />
  </head>
  <body>
    <footer>
      <div class="footer-container">
        <div class="d-flex align-items-center">
          <img src="./logo/logo.svg" alt="網站logo" class="footer-logo" />
          <div class="footer-contact">
            <p class="footer-text">連絡電話: (02) 1234-5678</p>
            <p>
              <a href="#" class="text-decoration-none footer-text">客服專區</a>
            </p>
          </div>
        </div>
        <div class="social-icons">
          <div class="social-icons-row d-flex justify-content-evenly">
            <a href="#" class="bi bi-facebook"></a>
            <a href="#" class="bi bi-instagram"></a>
            <a href="#" class="bi bi-youtube"></a>
          </div>
          <p class="footer-text">追蹤我們的社群平台以取得最新資訊</p>
        </div>
      </div>
    </footer>
  </body>
</html>
