<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.1/font/bootstrap-icons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./Header.css" />
  </head>
  <body class="bg-light">
    <header>
      <nav class="navbar nav-container position-fixed w-100 z-3 top-0">
        <div class="container position-relative">
          <a class="navbar-brand" href="#">
            <img src="./logo/logo.svg" alt="Bootstrap" />
          </a>

          <!-- Mobile Toggle Button -->
          <button
            class="navbar-toggler d-lg-none"
            type="button"
            aria-label="Toggle navigation"
          >
            <span class="bi bi-list" style="font-size: 24px"></span>
          </button>

          <div class="justify-content-end">
            <ul class="nav-list">
              <li class="nav-item">
                <a href="#" class="nav-link">競標專區</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">場地預約</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">球友論壇</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">客服中心</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">業主專區</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link"
                  ><i class="bi bi-person"></i> Account</a
                >
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">登出</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <script src="./Header.js"></script>
  </body>
</html>
