<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sidebar</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.1/font/bootstrap-icons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./Sidebar.css" />
  </head>
  <body class="bg-light">
    <main>
      <div class="container position-relative mb-3">
        <div class="row">
          <!-- Sidebar -->
          <div class="col-md-3 d-flex justify-content-center">
            <div style="width: 80%">
              <aside>
                <h5 class="mb-3" style="font-size: 24px">會員專區</h5>

                <a href="./BasicInformation.html" class="action-button">
                  <i class="bi bi-question-circle"></i>可視個別頁面需求
                </a>
                <a href=".#" class="action-button">
                  <i class="bi bi-question-circle"></i>自行更換
                </a>
                <a href="#" class="action-button">
                  <i class="bi bi-question-circle"></i>bootstrap icon
                </a>
                <a href="./WinningBids.html" class="action-button">
                  <i class="bi bi-question-circle"></i>按鈕樣式可由css檔
                </a>
                <a href="./AppointmentRecord.html" class="action-button">
                  <i class="bi bi-question-circle"></i>內的action-button類別自訂
                </a>
              </aside>
            </div>
          </div>

          <!-- Main Content -->
          <div class="col-md-9">
            <div class="main-content">
              <div class="row">主要內容區域</div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
