<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:fragment="headContent">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" th:href="@{/icon/setting.png}">
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.1/font/bootstrap-icons.min.css"
      rel="stylesheet"
    />
  	</th:block>
  </head>
  <body class="bg-light">
    	  <header th:fragment="header">
		  <!-- Navbar -->
			<nav class="navbar navbar-light mb-4">
				<div class="container-fluid">
					<div class="navbar-content">
						<a class="navbar-brand" href="">管理員後台</a>
						<div class="nav-buttons">
							<a class="nav-link" th:href="@{/}"><i class="bi bi-door-open-fill"></i>&nbsp;返回前台</a>
							<a class="nav-link" th:href="@{listAllAdm}"
							   th:classappend="${#httpServletRequest.getRequestURI().contains('listAllAdm')} ? 'active' : ''">
							<i class="fas fa-users me-2"></i>員工帳號管理</a>					
							<a class="nav-link" th:href="@{listAllCoupon}"
							   th:classappend="${#httpServletRequest.getRequestURI().contains('listAllCoupon')} ? 'active' : ''">
							<i class="fas fa-ticket-alt me-2"></i>優惠券管理</a>					
							<a class="nav-link" th:href="@{listAllProduct}"
							   th:classappend="${#httpServletRequest.getRequestURI().contains('listAllProduct') or
							   					 #httpServletRequest.getRequestURI().contains('listAllOrders')} ? 'active' : ''">
							<i class="fas fa-store me-2"></i>商城管理</a> 
							<a class="nav-link" th:href="@{listAllStdm}"
							   th:classappend="${#httpServletRequest.getRequestURI().contains('listAllStdm')or
							   					 #httpServletRequest.getRequestURI().contains('addStdm')or
							   					 #httpServletRequest.getRequestURI().contains('listAllCourtOrders')or
							   					 #httpServletRequest.getRequestURI().contains('listAllChart')} ? 'active' : ''">
							<i	class="fas fa-map-marker-alt me-2"></i>場地管理</a>
							<a class="nav-link" href="#"><i class="fas fa-headset me-2"></i>客服中心</a> 
							<a class="nav-link" th:href="@{listAllMember}"
							   th:classappend="${#httpServletRequest.getRequestURI().contains('listAllMember')} ? 'active' : ''">
							<i class="fas fa-user-circle me-2"></i>會員帳號管理</a>
						</div>
						<div class="d-flex align-items-center border-start ps-4">
							<div class="nav-item me-3">
								<span class="nav-link">
									<i class="fas fa-user me-1"></i> 
									<span th:text="${session.loginAdm.admname}"></span>
								</span>
							</div>
							<form th:action="@{/adm/logout}" method="post" style="display: inline;">
							<button  type="submit" class="btn btn-outline-secondary btn-sm">
								<i class="fas fa-sign-out-alt me-1"></i>登出
							</button>
							</form>
						</div>
					</div>
				</div>
			</nav>
		</header>	
  </body>
</html>