<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>更新會員員資料 - updateMember.html</title>
<th:block th:replace="back-end/adm/Header :: headContent" />
<head th:insert="~{/back-end/adm/included-fragment}"></head>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<style>
</style>

</head>
<body>
	<!-- Navbar -->
	<header th:replace="back-end/adm/Header :: header"></header>
	
	<div class="container-fluid">
		<div class="row">
			<!-- 左側選單 -->
			<div class="col-md-2">
				<div class="card">
					<div class="card-body p-0">
						<div class="nav flex-column nav-pills">
							<a class="nav-link" th:href="@{/adm/listAllMember}"> <i
								class="fas fa-list me-2"></i>會員列表
							</a>
						</div>
					</div>
				</div>
			</div>
		<div class="col-md-10">
	<div class="card">
		<div class="card-body">
			<div
				class="d-flex justify-content-between align-items-center mb-4">
				<h5 class="card-title mb-0">更新會員資料</h5>
					</div>
					<div th:if="${message}" class="alert alert-warning" role="alert" th:text="${message}"></div>

				<form th:action="@{/adm/updateMem}" th:object="${memberVO}" method="post">
			    <input type="hidden" th:field="*{memid}">
			    
			    <div class="mb-3">
			        <label class="form-label">帳號</label>
			        <input type="text" th:field="*{account}" class="form-control" readonly>
			    </div>
			    
	
			    <div class="mb-3">
			        <label class="form-label">Email</label>
			        <input type="email" th:field="*{email}" class="form-control" readonly>
			    </div>
			    
	
			    <div class="mb-3">
			        <label class="form-label">名稱</label>
			        <input type="text" th:field="*{name}" class="form-control" readonly>
			    </div>
			    

			    <div class="mb-3">
			        <label class="form-label">電話</label>
			        <input type="tel" th:field="*{phone}" class="form-control" readonly>
			    </div>
			    

			    <div class="mb-3">
			        <label class="form-label">生日</label>
			        <input type="date" th:field="*{bday}" class="form-control" readonly>
			    </div>
			    
			    <div class="mb-3">
			        <label class="form-label">地址</label>
			        <input type="text" th:field="*{addr}" class="form-control" readonly>
			    </div>
			  
	
			    <div class="mb-3">
			        <label class="form-label">狀態</label>
			        <select class="form-select" th:field="*{status}">
			            <option th:value="true">正常</option>
			            <option th:value="false">停權</option>
			        </select>
			    </div>
			    
			    <div class="modal-footer">
			        <a href="/adm/listAllMember" class="btn btn-secondary">取消</a>
			        <button type="submit" class="btn btn-add">更新</button>
			    </div>
			</form>

</body>
</html>